@font-face {
  font-family: 'coolvetica';
  src: url(../fonts/coolvetica.ttf) format('truetype');
}

@font-face {
  font-family: 'pokemon';
  src: url(../fonts/pokemon.ttf) format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Lato-Regular.ttf) format('truetype');
}

body {
  color: #ccc;
  font-family: 'Lato', sans-serif;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.nav-left {
  flex: 1;
  margin: 0 2rem;
}

.nav-left img {
  border-radius: 5px;
  height: 3rem;
}

.navigation {
  align-items: center;
  background: #333;
  display: flex;
  flex-flow: row;
  height: 4rem;
  justify-content: center;
  left: 0;
  position: fixed;
  width: 100%;
}

.nav-middle {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: center;
}

.nav-middle ul {
  align-items: center;
  display: flex;
  flex-flow: row;
  padding: 0;
}

.nav-middle li {
  list-style-type: none;
  margin-left: 1rem;
}

.nav-middle a {
  color: #ccc;
  font-size: .7rem;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

h1 {
  color: #333;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

h2 {
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.page {
  display: flex;
  flex-flow: column;
  height: 100vh;
  list-style-type: none;
}

.page-home {
  align-items: center;
  background: #fff;
  color: #333;
  flex-direction: column;
  justify-content: center;
}

.page-home .continue {
  align-items: center;
  border: 2px #333 solid;
  border-radius: 1px;
  color: #333;
  display: flex;
  height: 3rem;
  justify-content: center;
  text-decoration: none;
  width: 9rem;
}

.page-about {
  align-items: center;
  background-color: lightgray;
  justify-content: center;
}

.page-projects {
  align-items: center;
  justify-content: center;
}

.page-contact {
  align-items: center;
  background-color: lightgray;
  justify-content: center;
}

.page-blog {
  align-items: center;
  justify-content: center;
}

.blogs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.blog-link {
  border: 1px black solid;
  border-radius: 4px;
  box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.14);
  color: #333;
  display: flex;
  flex-flow: column;
  margin: 0 1.5rem 2rem;
  min-height: 20rem;
  padding: .5rem;
  text-align: center;
  text-decoration: none;
  width: 12rem;
}

.blog-post-container {
  margin-left: 18rem;
}

.blog-post h1 {
  margin-top: 0;
}

.toTop {
  background: red;
  height: 2rem;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 2rem;
}
