@font-face {
  font-family: 'coolvetica';
  src: url(../fonts/coolvetica.ttf) format('truetype');
}

@font-face {
  font-family: 'pokemon';
  src: url(../fonts/pokemon.ttf) format('truetype');
}

body {
  font-family: sans-serif;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

.nav-top {
  flex: 1;
  margin: 0 2rem;
}

.nav-top img {
  border-radius: 5px;
  height: 10rem;
  margin-top: 1rem;
}

.navigation {
  align-items: center;
  background-color: rgba(27, 6, 47, 0.7);
  color: white;
  display: flex;
  flex-flow: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  width: 16rem;
}

.nav-middle {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.nav-middle ul {
  align-items: center;
  display: flex;
  flex-flow: column;
  padding: 0;
}

.nav-middle li {
  list-style-type: none;
  margin-top: 1rem;
}

.nav-middle a {
  color: white;
  text-decoration: none;
}

.nav-bottom {
  align-items: flex-end;
  display: flex;
  flex: 1 1;
}

.nav-bottom ul {
  margin-bottom: 1rem;
}

.nav-bottom li {
  list-style-type: none;
}

h1 {
  font-family: 'coolvetica';
  font-size: 4rem;
  margin-bottom: 2rem;
}

.page {
  display: flex;
  flex-flow: column;
  height: 100vh;
  list-style-type: none;
  margin-left: 16rem;
}

.page-home {
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.page-home .continue {
  align-items: center;
  border: 6px darkgray double;
  border-radius: 5px;
  display: flex;
  height: 4rem;
  justify-content: center;
  text-decoration: none;
  width: 10rem;
}

.page-about {
  align-items: center;
  background-color: lightgray;
  justify-content: center;
}

.page-projects {
  align-items: center;
  justify-content: center;
}

.page-contact {
  align-items: center;
  background-color: lightgray;
  justify-content: center;
}

.page-blog {
  align-items: center;
  justify-content: center;
}

.blogs-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.blog-link {
  border: 1px black solid;
  border-radius: 4px;
  box-shadow: 2px 2px 1px 1px rgba(0,0,0,0.14);
  display: flex;
  flex-flow: column;
  margin: 0 1.5rem 2rem;
  min-height: 20rem;
  padding: .5rem;
  text-align: center;
  width: 12rem;
}
